

md-card {
  padding: 0 !important;
}

#company-info.card-company-info {
  text-align: center;

  .address {
    margin-bottom: 14px;
  }
}

.seller, .buyer {
  display: inline-block;
  margin: 0 10px;
}

.card-content {
  padding: 14px 20px 8px;
}
