
.container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

// heading part
#heading-part>h1 {
  font-size: 30px;
}

#heading-part>h2{
  margin-bottom: 5px;
}
.tax-quarter {
  font-size: 18px;
}
.serial-no {
  font-weight: bold;
  font-size: 22px;
}

// code part


// items part
#items {
  table {
    width: 100%;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    padding: 10px 10px;
  }
  td:nth-child(5) {
    text-align: right;
  }
}

.total-price {
  margin: 10px 0 3px;
}

// company info
#items>.total-price {
  text-align: right;
  font-size: 18px;
  font-weight: bold;
}
#company-info {
  text-align: left;

  .address-title, .contact-title {
    font-weight: bold;
    font-size: 16px;
  }
  .address, .contact {
    margin-bottom: 10px;
  }
}

.page-bottom {
  margin-bottom: 100px;
}
