<div ng-controller="MainController" layout="column" ng-cloak="" class="contentdemoBasicUsage">
    <md-toolbar class="md-warn" id="main-top">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">FoodChain Tracker</h2>
        </div>
    </md-toolbar>
    <md-content class="layout-padding _md flex">
        <div layout-gt-sm="row" class="layout-gt-sm-row">
            <md-input-container class="md-block flex-gt-sm" flex-gt-sm="">
                <label>Customer Tax ID</label>
                <input ng-model="taxId" class="ng-pristine ng-valid md-input ng-empty ng-touched" aria-invalid="false" style="">
                <div class="md-errors-spacer"></div>
            </md-input-container>

            <md-card class="_md" style="margin-bottom: 50px;">
                <md-card-actions class="layout-row no-margin-in" ng-repeat="item in items">
                    <md-input-container style="width: 80%; margin-bottom: 0;">
                        <label>Item</label>
                        <input ng-model="item.name" class="ng-pristine ng-untouched ng-valid md-input ng-empty" aria-invalid="false" style="">
                        <div class="md-errors-spacer"></div>
                    </md-input-container>
                    <md-input-container style="width: 20%; margin-bottom: 0">
                        <label>Qty</label>
                        <input ng-model="item.qty" class="ng-pristine ng-untouched ng-valid md-input ng-empty" aria-invalid="false" style="">
                        <div class="md-errors-spacer"></div>
                    </md-input-container>
                </md-card-actions>
                <button class="md-button md-raised md-primary md-ink-ripple" type="button" ng-click="addItem()"><span class="ng-scope">Add</span>
                </button>
            </md-card>
        </div>
    </md-content>
    <div class="bottom-snap">
        <div class="btn-wrap" style="width: 100%">
            <button ng-click="createReceipt()">
                Create Receipt
            </button>
        </div>
    </div>
</div>
