<div ng-controller="MainController" layout="column" ng-cloak="" class="contentdemoBasicUsage">
    <md-toolbar class="md-warn" id="main-top">
        <div class="md-toolbar-tools">
            <h1 class="md-flex">FoodChain Tracker</h1>
        </div>
    </md-toolbar>
    <md-content class="layout-padding _md flex">
        <div>
          <md-input-container style="margin-bottom: 0; width: 100%">
              <label>Company Name</label>
              <input ng-model="companyId" class="ng-pristine ng-untouched ng-valid md-input ng-empty" aria-invalid="false" style="">
          </md-input-container>
          <md-button class="md-raised md-warn" style="width: 100%; margin: 0" ng-click="searchCompany(companyId)">Search</md-button>
        </div>
    </md-content>
</div>
<div class="bottom-snap">
    <div class="btn-wrap" style="width: 100%">
        <button ui-sref="home" class="secondary">
            Return
        </button>
    </div>
</div>
