/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,700);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.bottom-snap {
  position: fixed;
  bottom: 0;
  width: 100%;
  & > .btn-wrap {
    width: 50%;
    float: left;
    box-sizing: border-box;
    button {
      width: 100%;
      margin: 0;
      background: darken(#5543dd, 20%);
      border: none;
      padding: 20px;
      color: #fff;
      display: inline-block;
    }
    button.second {
      background: darken(#5543dd, 10%);
    }
  }
}

.add-product {
  position: absolute;
  right: 30px;
  bottom: 80px;
}

.lowercase {
  text-transform: capitalize;;
}

#main-top {
  background: orange;
  color: #fff;
}


/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
